<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= title %></title>
  <meta name="description" content="GIF Beukeboom">
  <meta name="author" content="">
  <link rel='stylesheet' href='/scripts/vendor/foundation-6/css/foundation.min.css'>
  <link rel='stylesheet' href='/styles/common.css'>
  <link rel='stylesheet' href='/styles/<%= style %>.css'>


  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>