<% include _head %>

<% include _header %>

  <div class="row">
    <div class="large-12 columns day" data-date='<%= date %>'>
      <span></span>
    </div>
  </div>
  <div class="row">
    <div class="games">
      <table></table>
    </div>
  </div>
  
  <% include _footer %>
  <script src="/scripts/index.js"></script>
</body>
</html>